<ion-header>
  <ion-navbar style="background: url('assets/img/back.png') !important;">
    <ion-buttons start left>
      <a>
        <button ion-button (click)="navigate()">
          <ion-icon name="home" style="color:white"></ion-icon>
        </button>
      </a>
    </ion-buttons>
    <div class="logo-container">
      <img class="logo " src="assets/img/logo_rugby_2.png">
    </div>

    <button ion-button menuToggle right>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="card-background-page">
    <ion-card>
      <img src="assets/img/Slider-2.jpg">
      <div class="card-title">Teammate Photos</div>
    </ion-card>
  </div>
  <div padding>
    <div>
      <button ion-button block icon-left (click)="takePhotos()"><ion-icon name="camera" style="margin-left:0px !important;"></ion-icon><div>Take a Photo</div></button>
      <button ion-button block icon-left (click)="loadLibrary()"><ion-icon name="grid" left></ion-icon><div>Load from Library</div></button>
    </div>
    <div>
      <ion-grid>
        <ion-row wrap>
          <ion-col *ngFor="let photo of photos?.data" width-50>
            <ion-card>
              <!--  <img src="base64Images" *ngIf="base64Images"> -->
              <img src={{photo}}>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>
</ion-content>
