<ion-header>
  <ion-navbar style="background: url('assets/img/back.png') !important;">
    <ion-buttons start left>
      <a ng-href="news">
        <button ion-button>
          <ion-icon name="home" style="color:white"></ion-icon>
        </button>
      </a>
    </ion-buttons>
    <div class="logo-container">
      <img class="logo " src="assets/img/logo_rugby_2.png">
    </div>

    <button ion-button menuToggle right>
      <ion-icon name="menu" style="color:white"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="card-background-page">
    <ion-card>
      <img src="assets/img/Slider-2.jpg">
      <div class="card-title">Rugby Clubs</div>
    </ion-card>
  </div>



  <div padding>
    <ion-grid>
      <ion-row *ngFor="let club of clubs">

        <ion-col width-33>

          <img class="img-size" src={{club.img}}>
        </ion-col>
        <ion-col width-75>
          <h4 class="subtitles">{{club.name}}</h4>
          <p>
            Location and Training:

          </p>
          <p *ngFor="let location of club.location_training">
            {{location}}

          </p>

          <p>
            {{club.contacts[0].name}} {{club.contacts[0].value}}
          </p>

        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
