page-rugbyclubs {

    .logo{    width: 40px !important;
        height:40px !important;
        margin-left: 42% !important;
       }
       p{
         font-size: 11px;
       }
       .subtitles{
         font-size: 20px;
       }
       .img-size{
         width: 80px !important;
         height:80px !important;
        
       }
}
.img{
  position: relative;
   float: left;
   width:  150px;
   height: 150px;
   background-position: 50% 50%;

}
