page-news {

  .logo{    width: 40px !important;
      height:40px !important;
      margin-left: 42% !important;
     }
     .green{
       background-color: #003300 !important;
       color: #ffffff;

     }
}
