page-rugby101 {

  .logo-container{
    text-align: center !important;
  }
  .logo{    width: 145px !important;
      height:60px !important;

     }
     .card-background-page {

       ion-card {
         position: relative;
         text-align: center;
         width: 100%;
     height: 140px;
         margin:0;
         margin-top: -10%;
       }
  .card-title {
    position: absolute;
    bottom: 16%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}
}
